<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <table border="1">
    <thead>
    <tr>
      <th>#</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>작성시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
      <td th:text="${board.id}"></td>
      <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a> </td>
      <td th:text="${board.name}"></td>
      <td th:text="${board.postDate}"></td>
    </tr>
    </tbody>
  </table>
  <hr>
  <a href="/board/add">글작성</a>
  <a href="/">홈으로</a>
</div>
</body>
</html>