<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <h2>로그인</h2>
    </div>
    <form action="/login" th:action th:object="${loginForm}" method="post">
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="text" id="password" th:field="*{password}">
        </div>
        <button type="submit">로그인</button>
    </form>
</div>
</body>
</html>